---
title: Создаем страницу в Инстаграме — Shift
titleEn: How to create an Instagram profile — Shift
description: Заполняем информацию о компании, загружаем лого, настраиваем аккаунт.
descriptionEn: Fill in the information about the company, upload the logo, do the account settings.
tags: guide
---
<div class="ids__space XL"></div>
<article class="ids__wrapper guide">
  <h1>{% if lang == 'ru' %}Создаем страницу в Инстаграме{% else %}How to create an Instagram profile{% endif %}</h1>

  <p>
    {% if lang == 'ru' %}Когда Додо открывается в новой стране, мы создаём ещё одну страницу в Инстаграме. Там анонсируем открытие и продвигаем пиццерию. Рекомендуем создавать один аккаунт на страну.{% else %}When Dodo opens in a new country, we launch another profile on Instagram. This is the place where we announce the opening and promote the pizzeria. We recommend that you create one account per country.{% endif %}
  </p>
  {% if lang != 'ru' %}
  <p>It is really important to fill out all the fields correctly on this new page.</p>
  {% endif %}
  <p>
    {% if lang == 'ru' %}<strong>Заполняем имя.</strong> Пишем имя в формете «Dodo Pizza · Страна». Если название страны очень длинное, упрощаем. Например, для ОАЭ название будет «Dodo Pizza · UAE».{% else %}<strong>Fill in username.</strong> Its format is "Dodo Pizza - Country". If the name of the country is too long, make it shorter. For example, for the United Arab Emirates the name will be "Dodo Pizza - UAE".{% endif %}
  </p>
  <p>
    {% if lang == 'ru' %}<strong>Адрес.</strong> Адрес будет почти таким же, как имя, только все буквы строчные — «dodopizza.страна». Например, адрес для ОАЭ — «dodopizza.uae».{% else %}<strong>Address.</strong> The address is almost the same as the name, but all the letters are lowercase - "dodopizza.country". For example, the address for the UAE - "dodopizza.uae".{% endif %}
  </p>
  <div class="ids__media-group M shadow">
    <figure><img src="/images/how-to-create-an-instagram-profile/1.webp" alt="" /></figure>
  </div>
  <div class="ids__space S"></div>
  <p>
    {% if lang == 'ru' %}<strong>Аватар.</strong> На аватар аккаунта ставим <a href="https://dodopizza.info/marketing/mockups/f6118767-4f20-4f37-0f14-08d617e7ae7b/6684ad13-63ea-48b3-f599-08d617e45aba" target="_blank">круглый логотип</a> Додо.{% else %}<strong>Avatar.</strong> Upload<a href="https://dodopizza.info/marketing/mockups/f6118767-4f20-4f37-0f14-08d617e7ae7b/6684ad13-63ea-48b3-f599-08d617e45aba" target="_blank">a round Dodo logo</a> as an account avatar.{% endif %}
  </p>
  <div class="ids__space S"></div>
  <figure class="ids__media M">
    <img src="/images/how-to-create-an-instagram-profile/2.webp" alt="" />
  </figure>
  <div class="ids__space S"></div>
  <p>
    {% if lang == 'ru' %}Далее переходим в меню «Редактировать» справа от аватара и списываем остальную информацию.{% else %}Then go to the "Edit" menu to the right of the avatar and put down the rest of the information.{% endif %}
  </p>
  <p>
    {% if lang == 'ru' %}<strong>Сайт.</strong> Каждая страна устанавливает свою ссылку.{% else %}<strong>Website.</strong> Each country sets its own link.{% endif %}
  </p>
  <p>
    {% if lang == 'ru' %}<strong>О себе.</strong> Ещё этот раздел называют «био профиля». Здесь можно написать «International pizza chain now in…», добавить название страны и вставить ссылку на доставку. Например:{% else %}<strong>About ourselves.</strong> This section is also called "Bio". You can write "International pizza chain now in..." here, add the name of the country and insert the delivery link. For example:{% endif %}
  </p>
  <p>«International pizza chain now in UAE. Order delivery: …»</p>
  <div class="ids__media-group M shadow">
    <figure><img src="/images/how-to-create-an-instagram-profile/3.webp" alt="" /></figure>
  </div>
  <div class="ids__space S"></div>
  <p>
    {% if lang == 'ru' %}<strong>Переключаем аккаунт на профиль компании.</strong> Для этого:{% else %}<strong>Switch the profile to the business account.</strong> To do this:{% endif %}
  </p>
  <ul>
    <li>{% if lang == 'ru' %}Переходим во вкладку Настройки → Аккаунт → Переключиться на профиль компании.{% else %}Go to Settings → Account → Switch to Professional Account.{% endif %}</li>
    <li>{% if lang == 'ru' %}Инстаграм предложит создать страницу на Фейсбуке или пропустить этот шаг. Страничка понадобится для настройки таргета, поэтому лучше сразу создать её.{% else %}Instagram will prompt you to create a Facebook profile or skip this step. You will need the page to set up targeting, so it is better to create it right away.{% endif %}</li>
    <li>{% if lang == 'ru' %}Указываем название страницы «Додо Пицца Страна». Например, в ОАЭ — «Додо Пицца ОАЭ». Категория — пиццерия.{% else %}Specify the name of the page "Dodo Pizza Country". For example, in the UAE - "Dodo Pizza UAE". Category - pizzeria.{% endif %}</li>
  </ul>
  <p>
    {% if lang == 'ru' %}<strong>Заполняем информацию о компании и способы связи.</strong> Почта, телефон и адрес — индивидуальные поля, добавляем туда свои почту для сбора обратной связи, номер телефона и адрес — если пиццерий несколько, выбираем самую крупную.{% else %}<strong>Fill in information about the company and contact info.</strong> Mail, phone and address are individual fields, we add our mail to collect feedback, phone number and address. If there are several pizzerias, choose the largest.{% endif %}
  </p>
  <p>
    {% if lang == 'ru' %}В «Личной информации» дублируем текст из раздела «О себе».{% else %}In the "Personal Information settings" duplicate the text from the "About Me" section.{% endif %}
  </p>
  <p>
    {% if lang == 'ru' %}Готово, страничка создана. Теперь можно заполнять страницу контентом — о том, как это сделать, расскажем в следующих гайдах.{% else %}Done, the profile is created. Now you can fill in the content, we’re telling you how to do this in the upcoming guides.{% endif %}
  </p>

  <div class="ids__space L"></div>
</article>
