---
title: Разблокировка аккаунта в Инстаграме — Shift
titleEn: How to unlock a disabled Instagram account — Shift
description: Инструкция по обжалованию блокировки и советы на случай, если запрос отклонили.
descriptionEn: Instructions on how to appeal the blocking and what to do if your request is denied.
tags: guide
---
<div class="ids__space XL"></div>
<article class="ids__wrapper guide">
  <div class="guide__nav"><ids-navbar></ids-navbar></div>

  <h1>{% if lang == 'ru' %}Разблокировка аккаунта в Инстаграме{% else %}How to unlock a disabled Instagram account{% endif %}</h1>

  <p>
    {% if lang == 'ru' %}В августе 2023 инстаграм начал блокировать наши локальные аккаунты без видимых причин. Вот как это выглядит.{% else %}In August 2023 Instagram started disabling our local accounts for no apparent reason. Here's what it looks like.{% endif %}
  </p>
  <div class="ids__sequence gap-M">
    <div class="ids__sequence-item">
      <figure><img src="/images/how-to-unlock-a-disabled-Instagram-account/1.png" alt="" /></figure>
    </div>
    <div class="ids__sequence-item">
      <figure><img src="/images/how-to-unlock-a-disabled-Instagram-account/2.png" alt="" /></figure>
    </div>
    <div class="ids__sequence-item">
      <figure><img src="/images/how-to-unlock-a-disabled-Instagram-account/3.png" alt="" /></figure>
    </div>
    <div class="ids__sequence-item">
      <figure><img src="/images/how-to-unlock-a-disabled-Instagram-account/4.png" alt="" /></figure>
    </div>
  </div>
  <p>
    {% if lang == 'ru' %}Заблокированный аккаунт не видят пользователи, а владелец не может его использовать. Но блокировку можно обжаловать.{% else %}A disabled account can't be seen by users and the owner can't post in it. But the blocking can be appealed.{% endif %}
  </p>

  <div class="ids__space S"></div>
  <ids-nav-item id="how-to-appeal" label="{% if lang == 'ru' %}Как обжаловать блокировку{% else %}How to appeal the suspension{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Как обжаловать блокировку{% else %}How to appeal the suspension{% endif %}</h2>
    <ol>
      <li>
        {% if lang == 'ru' %}Заполняем две формы на английском языке: <a href="https://vk.com/away.php?to=https%3A%2F%2Fhelp.instagram.com%2Fcontact%2F606967319425038&cc_key=" target="_blank">форма 1</a>, <a href="https://vk.com/away.php?to=https%3A%2F%2Fhelp.instagram.com%2Fcontact%2F1652567838289083&cc_key=" target="_blank">форма 2</a>.{% else %}Submit the required information in English: <a href="https://vk.com/away.php?to=https%3A%2F%2Fhelp.instagram.com%2Fcontact%2F606967319425038&cc_key=" target="_blank">Form 1</a>, <a href="https://vk.com/away.php?to=https%3A%2F%2Fhelp.instagram.com%2Fcontact%2F1652567838289083&cc_key=" target="_blank">Form 2</a>.{% endif %}
      </li>
      <li>
        {% if lang == 'ru' %}Ждем ответное письмо на почту. Обычно после ответа блокировку снимают.{% else %}Wait for a reply to the email. Normally, the account is unblocked after this letter.{% endif %}
      </li>
      <li>
        {% if lang == 'ru' %}Если запрос отклонили и прислали письмо, как на картинке ниже, отвечаем: «Specify the reason for blocking the account?».{% else %}If the request is denied and you receive the letter as seen in the picture below, we respond: "Specify the reason for blocking the account?"{% endif %}
        <figure class="ids__media S shadow">
          <img src="/images/how-to-unlock-a-disabled-Instagram-account/5.png" alt="" />
        </figure>
      </li>
      <li>
        {% if lang == 'ru' %}Получаем ответ с извинениями и разблокировкой.{% else %}We get a reply with apologies and unblocking.{% endif %}
        <figure class="ids__media S shadow">
          <img src="/images/how-to-unlock-a-disabled-Instagram-account/6.png" alt="" />
        </figure>
      </li>
    </ol>
    <div class="ids__space S"></div>
    <p>
      Если появились вопросы или этот способ не сработал, <a href="https://vk.com/spoam" target="_blank">напишите Спартаку</a> в личные сообщения во Вконтакте.
    </p>
  </ids-nav-item>

  <div class="ids__space L"></div>
</article>
