---
title: Юридическая информация для сторис в приложении — Shift
titleEn: Legal information for the in-app stories — Shift
description: Правила работы с фотобанками и их юридическое обоснование.
descriptionEn: Rules for working with photobanks and their legal justification.
tags: guide
---
<div class="ids__space XL"></div>
<article class="ids__wrapper guide">
  <div class="guide__nav"><ids-navbar></ids-navbar></div>

  <h1>{% if lang == 'ru' %}Юридические нюансы работы с фотографиями{% else %}Legal info for the in-app stories{% endif %}</h1>
  {% include "pub-meta.html" %}

  <p class="ids__description">
    {% if lang == 'ru' %}Правила работы с фотографиями, фотобанками и их юридическое обоснование.{% else %}Rules for working with photobanks and their legal justification.{% endif %}
  </p>

  <p>
    {% if lang == 'ru' %}Мы используем фотографии из фотобанков. У нас есть подборка проверенных, где мы уже купили права на использование контента — можете брать фотографии оттуда.{% else %}We have a selection of photo stock sites where we source photos.{% endif %}
  </p>
  <p>
    {% if lang == 'ru' %}Перед тем, как использовать изображение из нового фотобанка, мы внимательно читаем условия использования и покупаем права на фотографии.{% else %}Before using an image from a new site, we read the terms of use carefully and purchase the rights to the photos.{% endif %}
  </p>

  <div class="ids__space S"></div>
  <ids-nav-item id="approved-resources" label="{% if lang == 'ru' %}Проверенные фотобанки{% else %}Approved resources{% endif %}">
    <h3>{% if lang == 'ru' %}Проверенные фотобанки{% else %}Approved resources{% endif %}</h3>
    <p>
      {% if lang == 'ru' %}Обычно мы используем фотографии отсюда.{% else %}Photo stock sites where we search for photos.{% endif %}
    </p>
    <p><a href="https://www.flickr.com/photos/dodopizzamedia/" target="_blank">Flickr Dodo Pizza</a></p>
    <p><a href="https://unsplash.com/license" target="_blank">License Unsplash</a></p>
    <p><a href="http://www.designerspics.com/faq-and-terms/" target="_blank">FAQ and Terms DesignersPics</a></p>
    <p><a href="https://focastock.com/license/" target="_blank">License FocaStock</a></p>
    <p><a href="https://kaboompics.com/page/license-and-faq" target="_blank">License Kaboompic</a></p>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="other-resources" label="{% if lang == 'ru' %}Другие фотобанки{% else %}Other resources{% endif %}">
    <h3>{% if lang == 'ru' %}Другие фотобанки{% else %}Other resources{% endif %}</h3>
    <p>
      {% if lang == 'ru' %}Читаем правила и условия использования фотографий на сайте фотобанка. Ищем их в разделах Terms of Use, License, FAQ или Terms and Conditions.{% else %}Read the terms and conditions of use of photos on the website. You can find them in the Terms of Use, License, FAQ or Terms and Conditions sections.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}Покупаем права на фотографии и используем их в соответствии с правилами.{% else %}Buy the rights to the photos and use them according to the rules.{% endif %}
    </p>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="restrictions" label="{% if lang == 'ru' %}Популярные ограничения{% else %}Restrictions{% endif %}">
    <h3>{% if lang == 'ru' %}Популярные ограничения{% else %}Restrictions{% endif %}</h3>
    <p>
      {% if lang == 'ru' %}Собрали примеры из разных фотобанков.{% else %}We collected examples from different photo stock sites.{% endif %}
    </p>
    <div class="ids__space S"></div>
    <p>
      {% if lang == 'ru' %}Фотографии, как и продукция с нанесенными на нее фотографиями, не могут быть проданы, но может быть приобретена лицензия.{% else %}Photographs, as well as products with photos printed on them, cannot be sold, but a license can be purchased.{% endif %}
    </p>
    <ul>
      <li>“Photos cannot be sold without significant modification”, <a href="https://unsplash.com/license" target="_blank">License Unsplash</a></li>
      <li>
        {% if lang == 'ru' %}“Sale or distribution of Content e.g. as a posters, digital prints, music files or physical products, without adding any additional elements or otherwise adding value”, <a href="https://pixabay.com/ru/service/terms/" target="_blank">Pixabay Terms of Service</a>{% else %}“Sale or distribution of Content e.g. as a posters, digital prints, music files or physical products, without adding any additional elements or otherwise adding value”, <a href="https://pixabay.com/service/terms/" target="_blank">Pixabay Terms of Service</a>{% endif %}
      </li>
    </ul>
    <div class="ids__space S"></div>
    <p>
      {% if lang == 'ru' %}Фотографии нельзя использовать в коммерческих целях, в том числе как часть товарного знака или логотипа, то есть в рекламных целях.{% else %}Photos must not be used for commercial purposes, including as part of a trademark or logo, i.e. for advertising purposes.{% endif %}
    </p>
    <ul>
      <li>“You’re only allowed to use content that you find on the site in connection with your use of the Services and solely for personal and non-commercial purposes”, <a href="https://support.giphy.com/hc/en-us/articles/360020027752-GIPHY-Terms-of-Service" target="_blank">GIPHY User Terms of Service</a></li>
      <li>
        {% if lang == 'ru' %}“You may not use content as part of a trademark, design mark, tradename, business name, service mark, or logo”, <a href="https://www.freeimages.com/ru/license" target="_blank">Соглашение о лицензировании материалов FreeImages</a>{% else %}“You may not use content as part of a trademark, design mark, tradename, business name, service mark, or logo”, <a href="https://www.freeimages.com/license" target="_blank">Content license agreement FreeImages</a>{% endif %}
      </li>
    </ul>
    <div class="ids__space S"></div>
    <p>
      {% if lang == 'ru' %}Фотосток не несет ответственности за возможное нарушение авторских прав или прав на товарные знаки при использовании фотографий в личных и коммерческих целях.{% else %}Photo stock website is not responsible for possible copyright or trademark violation when using photos for personal and commercial purposes.{% endif %}
    </p>
    <ul>
      <li>“Some of our images contain products from well-known brands and companies that have registered trademarks. These trademarks need to be respected and acknowledged”, IsoRepublic <a href="https://isorepublic.com/license/" target="_blank">IsoRepublic License</a></li>
      <li>“It’s possible that some pictures may be subject to other intellectual property rights, such as trademark, publicity, or privacy rights. Gratisography does not represent or make any warranties that it owns or licenses any of these rights or can it grant them”, <a href="https://gratisography.com/license/" target="_blank">Gratisography License</a></li>
    </ul>

    <div class="ids__space S"></div>
    <aside>
      <h4>{% if lang == 'ru' %}Не берем фотографии с фотостоков, если:{% else %}Do not take photos from photo stocks if:{% endif %}</h4>
      <p>
        {% if lang == 'ru' %}Необходимо указывать автора фотографии при ее использовании.{% else %}You must credit the author of the photo when using it.{% endif %}
      </p>
      <ul>
        <li>
          {% if lang == 'ru' %}«Запрещено удалять любые присутствующие в Материалах Shutterstock водяные знаки и уведомления об авторском праве», <a href="https://www.shutterstock.com/ru/terms" target="_blank">Условия использования Shutterstock</a>{% else %}“You may not remove any watermarks or copyright notices present in Shutterstock Material”, <a href="https://www.shutterstock.com/terms" target="_blank">Shutterstock Terms of Use</a>{% endif %}
        </li>
      </ul>
      <div class="ids__space S"></div>
      <p>
        {% if lang == 'ru' %}Нельзя изменять фотографии, взятые из фотобанков.{% else %}You may not modify photos taken from photo stock.{% endif %}
      </p>
      <ul>
        <li>
          {% if lang == 'ru' %}«Вы обязуетесь не копировать, не публиковать, не демонстрировать во фреймах, не загружать, не передавать, не изменять, не адаптировать, не сдавать в аренду, не продавать, не распространять, не отображать, не лицензировать и не декомпилировать Сайт и любые Материалы Shutterstock, а также не ссылаться на них и не создавать производные работы на их основе», <a href="https://www.shutterstock.com/ru/terms" target="_blank">Условия использования Shutterstock</a>{% else %}“You agree not to copy, publish, frame, upload, transmit, modify, adapt, rent, lease, sell, distribute, display, license, or decompile the Site or any Shutterstock Materials, or to link to or create derivative works based on them”, <a href="https://www.shutterstock.com/terms" target="_blank">Shutterstock Terms of Use</a>{% endif %}
        </li>
      </ul>
    </aside>
  </ids-nav-item>

  <div class="ids__space L"></div>
</article>
