---
title: Готовим к печати наклейки на фасад пиццерии — Shift
titleEn: Preparing pizzeria facade stickers for printing — Shift
description: Технические требования к наклейкам и инструкция по подготовке макета к печати.
descriptionEn: Technical requirements for stickers and instructions on how to prepare the layout for printing.
tags: guide
---
<div class="ids__space XL"></div>
<article class="ids__wrapper guide">
  <div class="guide__nav"><ids-navbar></ids-navbar></div>

  <h1>{% if lang == 'ru' %}Готовим к печати наклейки на фасад пиццерии{% else %}Preparing pizzeria facade stickers for printing{% endif %}</h1>

  <p class="ids__description">
    {% if lang == 'ru' %}Чтобы разместить наклейку на фасаде, нужно определить тип и размеры окон, подготовить макет к печати и передать его в типографию вместе с требованиями к производству.{% else %}To place a sticker on the facade, you need to identify the type and dimensions of the windows, prepare the layout for printing and submit it to the printing house along with the production requirements.{% endif %}
  </p>

  <div class="ids__space S"></div>
  <ids-nav-item id="window-type-and-size" label="{% if lang == 'ru' %}Определяем тип и размеры окон{% else %}Identify the window type and size{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Определяем тип и размеры окон{% else %}Identify the window type and size{% endif %}</h2>
    <p>
      {% if lang == 'ru' %}<strong>Учитываем особенности фасадов</strong> и ограничения местного законодательства относительно наружной рекламы на окнах.{% else %}<strong>We take into account facade features</strong> and local legislation restrictions for outdoor window advertising.{% endif %}
    </p>
    <ul>
      <li>{% if lang == 'ru' %}Используем наклейки с ценниками, если в городе не запрещено размещение цен на окнах.{% else %}Use price stickers, unless the city hall prohibits placing prices on windows.{% endif %}</li>
      <li>{% if lang == 'ru' %}Размещаем наклейки только на первом этаже, на уровне глаз, примерно на высоте 150–165 см от земли.{% else %}Place stickers only on the first (ground) floor, at the eye level, approximately 150-165 cm above the ground.{% endif %}</li>
      <li>{% if lang == 'ru' %}На витринах со сплошным остеклением наклейки размещаем по центру панели остекления, через одну панель.{% else %}For windows of an all-glass facade, place stickers in the center of the glazing panel, on every other one.{% endif %}</li>
      <li>{% if lang == 'ru' %}На фасадах с отдельными окнами размещаем наклейки в каждом окне, если ширина простенков между окнами больше ширины оконных проемов.{% else %}For facades with separated windows we place stickers on each window, if the width of partitions between windows is greater than the width of window openings.{% endif %}</li>
      <li>{% if lang == 'ru' %}На окнах, расположенных на одном фасаде, наклейки должны быть одинаковой высоты. Если окна разной высоты, выравниваем по меньшему из них.{% else %}On windows located on the same facade, the stickers must be of the same height. If windows are of different heights, align the stickers to the smallest one.{% endif %}</li>
      <li>{% if lang == 'ru' %}Не размещаем наклейки поверх вертикальных разделительных элементов (импостов) остекления.{% else %}Do not place stickers on top of the vertical separating elements (imposts) of the glazing.{% endif %}</li>
    </ul>
    <div class="ids__sequence XL gap-M">
      <div class="ids__sequence-item">
        <figure>
          <img src="/images/preparing-pizzeria-facade-stickers-for-printing/1.jpg" alt="" />
          <figcaption>{% if lang == 'ru' %}Сплошное остекление{% else %}All-glass facade{% endif %}</figcaption>
        </figure>
      </div>
      <div class="ids__sequence-item">
        <figure>
          <img src="/images/preparing-pizzeria-facade-stickers-for-printing/2.jpg" alt="" />
          <figcaption>{% if lang == 'ru' %}Фасад с отдельными окнами{% else %}Facade with separated windows{% endif %}</figcaption>
        </figure>
      </div>
    </div>
    <p>
      {% if lang == 'ru' %}<strong>Подбираем размер наклейки,</strong> отталкиваясь от размеров окон. Окна можно измерить вручную или взять информацию о размерах из проекта пиццерии.{% else %}<strong>Select the size of the sticker</strong> based on the size of the windows. The windows can be measured manually or you can find the dimensions in the pizzeria project.{% endif %}
    </p>
    <ul>
      <li>{% if lang == 'ru' %}Оптимальный размер наклейки: 40% от самого большого измерения окна.{% else %}Optimal sticker size: 40% of the largest window measurement.{% endif %}</li>
      <li>{% if lang == 'ru' %}Максимальная высота наклейки: 1200 мм.{% else %}Maximum sticker height: 1200 mm.{% endif %}</li>
      <li>{% if lang == 'ru' %}Минимальна высота наклейки: 400 мм.{% else %}Minimum sticker height: 400 mm.{% endif %}</li>
      <li>{% if lang == 'ru' %}Расстояние справа и слева от наклейки: не меньше 18% от ширины окна.{% else %}Distance to the right and left of the sticker: at least 18% of the window width.{% endif %}</li>
    </ul>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="tor-for-printing-house" label="{% if lang == 'ru' %}Составляем ТЗ для типографии{% else %}Draw up the ToR for the printing house{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Составляем ТЗ для типографии{% else %}Draw up the ToR for the printing house{% endif %}</h2>
    <p>
      {% if lang == 'ru' %}Все наклейки изготавливаем одним способом. Скопируйте текст ТЗ и передайте его в типографию. Когда получите готовые наклейки, проверьте, нет ли дефектов на пленке и сравните изображение с исходным макетом.{% else %}The production process for all stickers is the same. Copy the text of the ToR and submit it to the printing house. When you receive the printed stickers, check the film for any possible defects and compare the image with the original layout.{% endif %}
    </p>
    <aside>
      <p>{% if lang == 'ru' %}<strong>ТЗ для типографии</strong>{% else %}<strong>ToR for the print shop</strong>{% endif %}</p>
      <p>
        {% if lang == 'ru' %}Полноцветные изображения. Сольвентная печать 1440 dpi на белой матовой пленке Orajet 3640M F010, с матовой ламинацией. Резка по котуру, выборка, прикатка монтажной пленки.{% else %}Full colour images. Solvent printing 1440 dpi on white matte film Orajet 3640M F010, with matte lamination. Cutting on the contour, sampling, rolling mounting film.{% endif %}
      </p>
    </aside>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="prepare-layout" label="{% if lang == 'ru' %}Готовим макет к печати{% else %}Prepare a layout for printing{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Готовим макет к печати{% else %}Prepare a layout for printing{% endif %}</h2>
    <p>
      {% if lang == 'ru' %}Готовим макет к печати в Adobe Illustrator. Файл с макетом содержит основные слои, доступные для редактирования, а также информационные слои с информацией о материалах, из которых нужно выполнить наклейку.{% else %}We prepare a layout for printing in Adobe Illustrator. The layout file contains basic layers that you can edit, as well as information layers with details about the materials you want to use to make the sticker.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}Чтобы подготовить макет, посмотрите видео или прочитайте инструкцию.{% else %}To prepare the layout, watch the video or read the instructions.{% endif %}
    </p>
    <div class="ids__video">
      <iframe src="https://www.youtube.com/embed/5QkEwQ-F9qw" title="" allowfullscreen></iframe>
    </div>
    <figure>
      <figcaption>{% if lang == 'ru' %}Видеоинструкция по подготовке наклеек к печати{% else %}Video guide on how to prepare stickers for printing{% endif %}</figcaption>
    </figure>
    <div class="ids__space S"></div>
    <p>
      {% if lang == 'ru' %}Инструкция повторяет все шаги, описанные в видео, но в текстовом формате.{% else %}The following instructions repeat all the steps described in the video, but in text format.{% endif %}
    </p>
    <ol>
      <li>
        <p>
          {% if lang == 'ru' %}<strong>Уточните размеры окон.</strong> Измерьте вручную или найдите эту информацию в проекте пиццерии.{% else %}<strong>Figure out the dimensions of the windows.</strong> Measure them manually or find this information in the pizzeria project.{% endif %}
        </p>
      </li>
      <li>
        <p>
          {% if lang == 'ru' %}<strong>Создайте артборд в масштабе 1 к 1, равный размеру вашего окна.</strong> Добавьте направляющие, чтобы определить область, на которой будет располагаться наклейка.{% else %}<strong>Create a 1-to-1 scale artboard equal to the size of your window.</strong> Add guides to define the area where the sticker will be placed.{% endif %}
        </p>
        <p>
          {% if lang == 'ru' %}Расстояние справа и слева от наклейки должно быть не меньше 18% от ширины окна. Оптимальный размер наклейки — до 40% от самого большого измерения окна. При этом высота наклейки не должна превышать 1200 мм.{% else %}The distance to the right and left of the sticker should be at least 18% of the window width. The optimal size of the sticker is up to 40% of the largest dimension of the window. The height of the sticker should not exceed 1200 mm.{% endif %}
        </p>
      </li>
      <li>
        <p>
          {% if lang == 'ru' %}<strong>Масштабируйте изображение.</strong> Выделите слои Cutline и Artwork / Photo+Text и Artwork. Скопируйте их и вставьте в макет. Масштабируйте объекты так, чтобы наклейка располагалась в поле, которое вы создали с помощью направляющих. Наклейка не должна выступать за края. Центрируйте наклейку по горизонтали и вертикали.{% else %}<strong>Scale the image.</strong> Select the “Cutline” and “Artwork / Photo+Text” and “Artwork” layers. Copy and paste them into the layout. Scale the objects so that the sticker fits in the box you created with the guides. The sticker should not protrude the edges. Center the sticker horizontally and vertically.{% endif %}
        </p>
        <p>
          {% if lang == 'ru' %}Перед масштабированием наклейки обратите внимание на качество растрового изображения — оно не должно быть меньше 72 точек на дюйм.{% else %}Before scaling the sticker, pay attention to the quality of the bitmap image - it should not be less than 72 dpi.{% endif %}
        </p>
        <div class="ids__media-group XL shadow">
          <figure>
            <img src="/images/preparing-pizzeria-facade-stickers-for-printing/4.gif" alt="" />
            <figcaption>{% if lang == 'ru' %}Выделяем объекты, растягиваем выделенную область{% else %}Select objects, stretch the selected area{% endif %}</figcaption>
          </figure>
        </div>
      </li>
      <li>
        <p>
          {% if lang == 'ru' %}<strong>Сохраните отдельно слои Cutline и Artwork в формате PDF.</strong> При сохранении выбирайте High Quality Print.{% else %}<strong>Save “Cutline” and “Artwork” layers separately as PDF files.</strong> Select High Quality Print when saving.{% endif %}
        </p>
        <p>
          {% if lang == 'ru' %}Чтобы отдельно сохранить слои, по очереди выключите их и два раза экспортируйте. Так на производстве будет меньше шансов ошибиться и случайно отпечатать контур реза вокруг макета. Проговорите этот момент при отправке на печать.{% else %}To save the layers separately, turn them off one by one and export them twice. This way, there will be less chance for the production to make a mistake and accidentally print the cut outline around the layout. Make sure to mention this point when you send it to print.{% endif %}
        </p>
        <div class="ids__media-group XL shadow">
          <figure>
            <img src="/images/preparing-pizzeria-facade-stickers-for-printing/5.gif" alt="" />
            <figcaption>{% if lang == 'ru' %}По очереди выключаем слои Cutline и Artwork, экскопртируем каждый{% else %}Turn off “Cutline” and “Artwork” layers one by one, and export each one{% endif %}</figcaption>
          </figure>
        </div>
      </li>
      <li>
        <p>
          {% if lang == 'ru' %}<strong>Отправьте на печать.</strong> У вас должно получится два файла для каждой наклейки: один с изображением из слоя Artwork, другой — с линиями реза из слоя Cutline. Отправьте их в типографию вместе с ТЗ.{% else %}<strong>Submit to printing.</strong> You should have two files for each sticker: one with the image from the “Artwork” layer and one with the cut lines from the “Cutline” layer. Send them to the printing house along with the ToR.{% endif %}
        </p>
        <div class="ids__sequence XL gap-M">
          <div class="ids__sequence-item">
            <div class="ids__media-group XL shadow">
              <figure>
                <img src="/images/preparing-pizzeria-facade-stickers-for-printing/6.jpg" alt="" />
                <figcaption>{% if lang == 'ru' %}Изображение для печати (Artwork){% else %}Print image (Artwork){% endif %}</figcaption>
              </figure>
            </div>
          </div>
          <div class="ids__sequence-item">
            <div class="ids__media-group XL shadow">
              <figure>
                <img src="/images/preparing-pizzeria-facade-stickers-for-printing/7.jpg" alt="" />
                <figcaption>{% if lang == 'ru' %}Контур реза (Cutline){% else %}Cutline{% endif %}</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </ids-nav-item>

  <div class="ids__space L"></div>
</article>
