---
title: Приоритизируем смыслы на макете с помощью инфопланирования — Shift
titleEn: How to prioritize meanings on the layout using informational planning — Shift
description: "Алгоритм приоритизации для дизайнеров: 3 шага, которые помогут распределить тезисы на макете."
descriptionEn: "A prioritization algorithm for designers: 3 steps to help distribute ideas across a layout."
tags: guide
---
<div class="ids__space XL"></div>
<article class="ids__wrapper guide">
  <h1>
    {% if lang == 'ru' %}Приоритизируем смыслы на макете с помощью инфопланирования{% else %}How to prioritize meanings on the layout using informational planning{% endif %}
  </h1>
  {% include "pub-meta.html" %}

  <p class="ids__description">
    {% if lang == 'ru' %}Каждый носитель мы рассматриваем как канал коммуникации, а дизайн — как набор сообщений на одну тему. В процессе создания визуалов всегда возникает вопрос: что важно сообщить в первую очередь? Как распределить пространство на макете, чтобы учесть потребности посетителя, маркетолога и бренд-менеджера? Принять решение и избежать ошибок помогает алгоритм из 3 шагов.{% else %}We consider each media as a communication channel, and design - as a set of statements on a single topic. In the process of creating visuals, the question always arises: what is important to communicate in the first place? How to fill in space on the layout taking into account the needs of the visitor, marketer and brand manager? A 3-step algorithm helps to make decisions and avoid mistakes.{% endif %}
  </p>

  <p>
    {% if lang == 'ru' %}В основе алгоритма лежит инфопланирование. Этот метод приходит на помощь, когда мы работаем в ограниченном пространстве, например, для передачи сообщения у нас есть только постер, фасад здания или статичный баннер. При этом сообщений много: партнеру нужно распродать пиццу с лососем до 15 августа, маркетологу — привлечь посетителей в приложение; бренд-менеджер хочет сказать, что Додо объединяет опыт тысяч посетителей, которые рассказывают, что они любят».{% else %}The algorithm is based on informational planning. This method comes in handy when we operate within a limited space, for example, we only have a poster, a building facade or a static banner to convey a message. And there are too many of them: the partner needs to sell out salmon pizza by August 15, the marketer needs to attract users to the app; the brand manager wants to say that Dodo “integrates the experience of thousands of visitors who tell us what they like”.{% endif %}
  </p>

  {% if lang == 'ru' %}
  <figure>
    <img src="/images/prioritize-meanings-on-layout/1.webp" alt="" />
    <figcaption>Одни и те же тексты, но разные приоритеты: на первом макете важнее потребность посетителя получить выгоду, на втором — задача команды маркетинга, на третьем — бренд-излучение Додо. Подчеркнули важность размером кегля</figcaption>
  </figure>
  <div class="ids__space S"></div>
  {% endif %}

  <p>
    {% if lang == 'ru' %}Инфопланирование позволяет приоритизировать информацию, учесть потребности разных сторон и особенности носителей. Чтобы быстро применить этот метод, используем алгоритм из 3 шагов:{% else %}Informational planning allows you to prioritize data, take into account the needs of different stakeholders and the characteristics of the media. To quickly apply this method, we use a 3-step algorithm:{% endif %}
  </p>

  <ol>
    <li>
      <p><strong>{% if lang == 'ru' %}Составляем список потребностей{% else %}Make a list of needs{% endif %}</strong></p>
      <p>
        {% if lang == 'ru' %}Оунер проекта собирает потребности стейкхолдеров: хранителей клиентского опыта, партнеров, маркетологов и бренд-менеджеров. Его задача — получить мнение разных заинтересованных сторон и составить полный список тезисов, которые нужно сообщить клиентам в коммуникации.{% else %}The project owner puts together the needs of all parties involved: customer experience keepers, partners, marketers and brand managers. Their task is to collect the opinions of the different stakeholders and make a comprehensive list of items that need to be conveyed to customers in the communication.{% endif %}
      </p>
      <aside>
        <p>
          <a href="https://www.notion.so/bf3af5dfe588404fb521c8e094f874ce?pvs=4" target="_blank">{% if lang == 'ru' %}Таблица потребностей посетителей{% else %}Visitor Needs Chart{% endif %}</a>
        </p>
        <p>
          {% if lang == 'ru' %}Поможет определить, что важно клиенту в разных зонах ресторана, и дополнить список тезисов.{% else %}Helps to identify what is important to the customer in different areas of the restaurant and complete the list of theses.{% endif %}
        </p>
      </aside>
    </li>
    <li>
      <p><strong>{% if lang == 'ru' %}Расставляем тезисы в порядке важности{% else %}List the needs in order of importance{% endif %}</strong></p>
      <p>
        {% if lang == 'ru' %}Отталкиваемся от бизнес-целей, сроков, сезонных особенностей, местоположения и других факторов, которые влияют на приоритетность. Например, партнер решил вывести из меню пиццу «Нежный лосось», так как уникальный ингредиент стало невыгодно поддерживать. Сейчас нужно использовать оставшиеся продукты, чтобы минимизировать списания. Срочная акция — высокоприоритетный элемент.{% else %}Doing this, we keep in mind business goals, timing, seasonality, location, and other factors that influence prioritization. For example, a partner decides to take “Tender salmon” pizza off the menu because the unique ingredient became unprofitable to maintain. Now the remaining products need to be used to minimize write-offs. Urgent promotion is a high-priority item.{% endif %}
      </p>
      <aside>
        <p>
          {% if lang == 'ru' %}Приоритизацию выполняет оунер конкретного запуска, который отвечает за понимание задачи.{% else %}The owner of a particular launch, who is responsible for understanding the task, is the one who knows the priorities.{% endif %}
        </p>
        <p>
          {% if lang == 'ru' %}Иногда эта роль переходит дизайнеру. В этом случае алгоритм не меняется: дизайнер самостоятельно анализирует доступную информацию и бизнес-контекст, консультируется с командами маркетинга и бренда, принимает и защищает решение.{% else %}Sometimes this role is taken over by the designer. In this case, the algorithm doesn't change: the designer analyzes available data and business context, consults with marketing and brand teams, makes and gives arguments to the decision.{% endif %}
        </p>
      </aside>
    </li>
    <li>
      <p><strong>{% if lang == 'ru' %}Отсекаем наименее важное{% else %}Cutting out the least important{% endif %}</strong></p>
      <p>
        {% if lang == 'ru' %}Дизайнер анализирует особенности носителей и контекст взаимодействия, распределяет тезисы по макету на основе приоритетов.{% else %}The designer analyzes the characteristics of the media and the context of interaction, and distributes theses across the layout based on priorities.{% endif %}
      </p>
      <p>
        {% if lang == 'ru' %}Все носители имеют разную инфоемкость: стикер на двери или майка вмещают не больше одного сообщения, зато на тейбл-тенте мы можем перечислить около 10 тезисов. Точных цифр нет, отталкиваемся от опыта.{% else %}All media have different information capacity: a sticker on a door or a T-shirt can hold no more than one message, but we can list about 10 items on a table tent. We don't have exact figures; we rely on experience.{% endif %}
      </p>
      <p>
        {% if lang == 'ru' %}Кроме инфоемкости, учитываем контекст: оцениваем, как долго и где конкретно посетитель видит наше сообщение. Адаптируем макеты под каждую ситуацию, чтобы передать приоритетные тезисы в уместном формате.{% else %}In addition to information intensity, we take context into account: we evaluate for how long and where exactly a visitor observes our message. We adapt our layouts for each situation to convey priority points in an appropriate format.{% endif %}
      </p>
      <div class="ids__sequence L gap-M">
        <div class="ids__sequence-item">
          <p><strong>{% if lang == 'ru' %}Надпись на майке{% else %}T-shirt lettering{% endif %}</strong></p>
          <p>{% if lang == 'ru' %}Это Додо{% else %}This is Dodo{% endif %}</p>
        </div>
        <div class="ids__sequence-item">
          <p><strong>{% if lang == 'ru' %}Плакат на окне{% else %}Window poster{% endif %}</strong></p>
          <p>{% if lang == 'ru' %}Только до 15 августа{% else %}Till August 15 only{% endif %}</p>
          <p>{% if lang == 'ru' %}Пицца «Нежный лосось» за 1 рубль{% else %}Tender Salmon Pizza for 1 ruble{% endif %}</p>
          <p>{% if lang == 'ru' %}К первому заказу через приложение{% else %}With the first order via the app{% endif %}</p>
          <p>{% if lang == 'ru' %}Это Додо{% else %}This is Dodo{% endif %}</p>
        </div>
        <div class="ids__sequence-item">
          <p><strong>{% if lang == 'ru' %}Тейбл-тент на столе{% else %}Tablet tent{% endif %}</strong></p>
          <p>{% if lang == 'ru' %}Только до 15 августа{% else %}Till August 15 only{% endif %}</p>
          <p>{% if lang == 'ru' %}Пицца «Нежный лосось» за 1 рубль{% else %}Tender Salmon pizza for 1 ruble{% endif %}</p>
          <p>{% if lang == 'ru' %}К первому заказу через приложение{% else %}With the first order via the app{% endif %}</p>
          <p>{% if lang == 'ru' %}Свежая рыба{% else %}Fresh fish{% endif %}</p>
          <p>{% if lang == 'ru' %}Соус альфредо{% else %}Alfredo sauce{% endif %}</p>
          <p>{% if lang == 'ru' %}Томаты черри{% else %}Cherry tomatoes{% endif %}</p>
          <p>{% if lang == 'ru' %}Хрустящая корочка{% else %}Crispy crust{% endif %}</p>
          <p>{% if lang == 'ru' %}Скачай приложение и попробуй{% else %}Download the app and give it a go{% endif %}</p>
          <p>{% if lang == 'ru' %}Это Додо{% else %}This is Dodo{% endif %}</p>
        </div>
      </div>
      <p>
        {% if lang == 'ru' %}Инфопланирование помогает нам избежать ошибок и упрощает системное внедрение изменений. В итоге испытываем меньше стресса и создаем дизайн, который точно передает ключевые сообщения и решает бизнес-задачи.{% else %}Informational planning helps us avoid mistakes and simplifies the systematic implementation of changes. The result is less stress and a design that accurately communicates key messages and solves business problems.{% endif %}
      </p>
    </li>
  </ol>

  <div class="ids__space L"></div>
</article>
