---
title: Описания продуктов — Shift
titleEn: Product descriptions — Shift
tags: guide
---
<div class="ids__space XL"></div>
<article class="ids__wrapper guide">
  <div class="guide__nav"><ids-navbar></ids-navbar></div>

  <h1>{% if lang == 'ru' %}Описания продуктов{% else %}Product Descriptions{% endif %}</h1>

  <p>
    {% if lang == 'ru' %}Описание продукта — это такой же элемент брендинга, как и его название. Оно помогает раскрыть суть, объяснить состав продукта и особенности, описать вкус и создать правильные ожидания. Хорошее описание снимает вопросы клиента, предвосхищает опыт и склоняет к заказу.{% else %}A product description is as much a branding element as the product name. It helps to reveal the essence of the dish, explain the composition and special features of the product; describe the flavor and set the right expectations. A good description leaves no questions for the customer to ask, anticipates the experience and inclines them to order.{% endif %}
  </p>
  <p>
    {% if lang == 'ru' %}Цель этого гайда — сформулировать единый подход к описанию новых продуктов, который поможет подать их клиенту просто, ясно и в фирменном стиле Додо Пиццы.{% else %}The purpose of this guide is to formulate a unified approach to describing new products, which will help to present them to the customer in a simple, clear way and within Dodo Pizza’s corporate identity.{% endif %}
  </p>

  <div class="ids__space S"></div>
  <ids-nav-item id="description-types" label="{% if lang == 'ru' %}Типы описаний{% else %}Description types{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Типы описаний{% else %}Description types{% endif %}</h2>

    <p>{% if lang == 'ru' %}Есть три типа описаний:{% else %}There are three types of descriptions:{% endif %}</p>
    <ul>
      <li>{% if lang == 'ru' %}ингредиентные,{% else %}ingredient-based,{% endif %}</li>
      <li>{% if lang == 'ru' %}фирменные,{% else %}branded,{% endif %}</li>
      <li>{% if lang == 'ru' %}фантазийные.{% else %}fantasy.{% endif %}</li>
    </ul>

    <p>
      {% if lang == 'ru' %}<strong>Ингредиентные.</strong> Строгое перечисление ингредиентов в правильном порядке (в конце гайда). Такие описания подходят для текущей категории пицц и некоторых закусок.{% else %}<strong>Ingredient-based.</strong> This is just a plain list of the ingredients in the right order (at the end of the guide). Such descriptions are a good fit for the current pizza categories and some appetizers.{% endif %}
    </p>
    <div class="ids__media-group XL shadow">
      <figure>
        <img src="/images/product-descriptions/{% if lang == 'ru' %}1.webp{% else %}1-en.webp{% endif %}" alt="" />
      </figure>
    </div>

    <div class="ids__space S"></div>
    <p>
      {% if lang == 'ru' %}<strong>Фирменные.</strong> Описания-сторителлинги. Выделяем особенные ингредиенты или детали рецепта, создаем контекст вокруг продукта, рассказываем почему его нужно попробовать.{% else %}<strong>Branded.</strong> These are storytelling descriptions. With them, we highlight special ingredients or recipe features, create context around the product, and tell the customer why they should try it.{% endif %}
    </p>
    <p>{% if lang == 'ru' %}Говорим про реальные атрибуты, а не абстракции.{% else %}We talk about real attributes, not abstractions.{% endif %}</p>
    <div class="ids__media-group XL shadow">
      <figure>
        <img src="/images/product-descriptions/{% if lang == 'ru' %}2.webp{% else %}2-en.webp{% endif %}" alt="" />
      </figure>
    </div>

    <div class="ids__space S"></div>
    <p>
      {% if lang == 'ru' %}<strong>Фантазийные.</strong> Игра вокруг образов и слов. Такие описания работают, если соответствуют тону бренда и образу продукта. Если креатив ради креатива — лучше отказаться.{% else %}<strong>Fantasy descriptions.</strong> This is a narrative built around images and words. Such descriptions work if they match the tone of the brand and the image of the product. If they are creative for creativity's sake, it's better to skip.{% endif %}
    </p>
    <div class="ids__media-group XL shadow">
      <figure>
        <img src="/images/product-descriptions/{% if lang == 'ru' %}3.webp{% else %}3-en.webp{% endif %}" alt="" />
      </figure>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="general-principles" label="{% if lang == 'ru' %}Общие принципы{% else %}General principles{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Общие принципы{% else %}General principles{% endif %}</h2>

    <p>{% if lang == 'ru' %}Придерживаемся главных правил:{% else %}Stick to the main rules:{% endif %}</p>
    <ul>
      <li>{% if lang == 'ru' %}Работаем в паре: название + описание.{% else %}We develop combinations that include both a title and a description.{% endif %}</li>
      <li>{% if lang == 'ru' %}Пишем в Тональности Додо Пиццы: доступно, открыто, уважительно.{% else %}We write in the Dodo Pizza tone: accessible, open, respectful.{% endif %}</li>
      <li>{% if lang == 'ru' %}Не перебарщиваем с эмоциями: не используем слова типа «бешеный», «взрывной».{% else %}We don't overdo it with emotions: we don't use words like “looney” or “explosive”.{% endif %}</li>
      <li>{% if lang == 'ru' %}Помним о цели: описание должно помочь клиенту сделать выбор.{% else %}Remember the purpose: the description should help the customer to make a choice.{% endif %}</li>
      <li>{% if lang == 'ru' %}Следим за единой стилистикой рекламных описаний продуктов.{% else %}We follow the style of advertising product descriptions.{% endif %}</li>
    </ul>

    <p>{% if lang == 'ru' %}Учитываем ограничения.{% else %}Keep the limits in mind.{% endif %}</p>
    <p>
      {% if lang == 'ru' %}<strong>Символьный лимит.</strong> С учетом редизайна мобильного приложения, описания не должны превышать 125 символов для всех категорий. Важно укладываться в этот формат без потери мысли.{% else %}<strong>Character limit</strong>. Taking into consideration our mobile app’s new design, descriptions should not exceed 125 characters for all categories. It's important to fit within this format without losing your thought.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}<strong>Порядок ингредиентов.</strong> Пока мы используем ингредиентный формат для пицц, важно соблюдать очередность в описании:{% else %}<strong>Ingredient order.</strong> While we're using the ingredient format for pizzas, it's important to keep the order of ingredients in the description:{% endif %}
    </p>
    <ol>
      <li>{% if lang == 'ru' %}Сначала основной ингредиент (например, креветки).{% else %}First the main ingredient (such as shrimp).{% endif %}</li>
      <li>{% if lang == 'ru' %}Затем важный компонент рецепта (например, песто).{% else %}Then the important component of the recipe (e.g., pesto).{% endif %}</li>
      <li>{% if lang == 'ru' %}Далее овощи: прежде всего те, на которые возможны аллергии или есть вкусовые ограничения (грибы, лук, сладкий перец).{% else %}Then the vegetables: first of all, those to which you may be allergic or have flavor restrictions (mushrooms, onions, sweet peppers).{% endif %}</li>
      <li>{% if lang == 'ru' %}Затем овощи второго плана (томаты, маринованные огурцы.){% else %}Minor vegetables (tomatoes, pickles).{% endif %}</li>
      <li>{% if lang == 'ru' %}После этого — моцарелла.{% else %}After that, mozzarella.{% endif %}</li>
      <li>{% if lang == 'ru' %}В самом конце — соус-основа (фирменный томатный или альфредо).{% else %}At the very end, the base sauce (specialty tomato or alfredo).{% endif %}</li>
    </ol>
    <p>
      {% if lang == 'ru' %}Этот порядок помогает клиенту быстро считывать главное, видеть ключевые вкусы и принимать осознанное решение.{% else %}This order helps the customer quickly read the main thing, see the key flavors and make an informed decision.{% endif %}
    </p>
  </ids-nav-item>

  <div class="ids__space L"></div>
</article>
