---
title: Названия продуктов — Shift
titleEn: Product names — Shift
tags: guide
---
<style>
  .ids table td {
    vertical-align: top;
    padding-right: calc(var(--ids__density) * 0.8em);
  }
  .ids table thead tr td:nth-child(1) {
    width: 33.3%;
  }
  br {
    display: block;
    content: "";
    padding-bottom: 0.6em;
  }
</style>

<div class="ids__space XL"></div>
<article class="ids__wrapper guide">
  {% if lang == 'ru' %}<div class="guide__nav"><ids-navbar></ids-navbar></div>{% endif %}

  <h1>{% if lang == 'ru' %}Названия продуктов{% else %}Product names{% endif %}</h1>
  {% include "pub-meta.html" %}

  {% if lang == 'en' %}
  <h2>This guide is under translation :)</h2>
  {% else %}

  <div class="ids__with-note">
    <p>Название — это уникальное, осмысленное и запоминающееся слово или словосочетание, которое закреплено за продуктом. Это не просто описание, а имя собственное.</p>
    <div class="ids__note">
      <p><a href="https://www.buildin.ai/0137f5df-0544-4058-89d7-e5920e464abd#85aee688-4aa7-4bb3-909f-44c2cc0859b1" target="_blank">Словарь названий из меню</a></p>
    </div>
  </div>

  <p>Название пишется с заглавной, а тип продукта — со строчной:</p>
  <ul>
    <li>пицца Ветчина и сыр,</li>
    <li>пицца Аррива!,</li>
    <li>пицца Чилл Грилл,</li>
    <li>чизкейк Нью-Йорк,</li>
    <li>салат Цезарь,</li>
    <li>Дэнвич чоризо барбекю.</li>
  </ul>

  <div class="ids__space S"></div>
  <ids-nav-item id="has-a-name" label="Как определить, есть ли у продукта название">
    <h2 class="h3">Как определить, есть ли у продукта название</h2>
    <p>Когда мы говорим или пишем о продукте, мы можем использовать три следующих элемента.</p>

    <div class="ids__table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Элемент</th>
            <th>Что это?</th>
            <th>Пример</th>
          </tr>
          <tr>
            <td>Тип продукта</td>
            <td>категория</td>
            <td>пицца; <br />омлет; <br />сырники</td>
          </tr>
          <tr>
            <td>Название</td>
            <td>уникальное имя</td>
            <td>Цезарь, Аррива! <br />Чилл Грилл; <br />Креветка со сладким чили</td>
          </tr>
          <tr>
            <td>Вкус</td>
            <td>описание вкуса или состава, ингредиенты</td>
            <td>чоризо барбек; <br />с ветчиной и грибами</td>
          </tr>
        </thead>
      </table>
    </div>

    <div class="ids__space S"></div>
    <p>С большой буквы мы пишем <strong>только названия:</strong> чизкейк Нью-Йорк.</p>
    <p>Если у продукта есть только <strong>тип</strong> или <strong>вкус</strong> — пишем их со строчной буквы: картошка по-деревенски, наггетсы, омлет с беконом.</p>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="in-text" label="Как писать в тексте">
    <h2 class="h3">Как писать в тексте</h2>
    <p>Пишем с заглавной, потому что есть название:</p>
    <p>— Мы заказали чизкейк <strong>Нью-Йорк</strong> и пиццу <strong>Аррива!</strong></p>
    <p>— Мне, пожалуйста, <strong>Дэнвич</strong> чоризо барбекю.</p>
    <p>Пишем со строчной, потому что есть только тип продукта или вкус:</p>
    <p>— Мы заказали <strong>картошку по-деревенски</strong> и <strong>омлет с беконом.</strong></p>
    <p>— <strong>Креветки с соусом</strong> и <strong>наггетсы</strong> — идеальная закуска.</p>
    <p>Эта логика применяется в текстах (постах, пушах, описаниях, статьях). На дизайн-макетах возможны стилистические решения, отступающие от этих правил. Там важнее выразительность и читаемость.</p>
    <aside>
      <p>Если не уверены, как написать название — проверьте в <a href="https://www.buildin.ai/0137f5df-0544-4058-89d7-e5920e464abd#85aee688-4aa7-4bb3-909f-44c2cc0859b1" target="_blank">Словаре всех названий из меню</a> или спросите у копирайтера.</p>
    </aside>
  </ids-nav-item>
  {% endif %}

  <div class="ids__space L"></div>
</article>
