---
title: Постер Tomatoes — Shift
titleEn: Tomatoes poster — Shift
description: Адаптируем под локальный рынок и готовим к печати интерьерный постер Tomatoes
descriptionEn: "We adjust to the local market and prepare for printing the “Tomatoes” interior poster."
tags: guide
---
<div class="ids__space XL"></div>
<article class="ids__wrapper guide">
  <div class="guide__nav"><ids-navbar></ids-navbar></div>

  <h1>{% if lang == 'ru' %}Постер Tomatoes{% else %}Tomatoes poster{% endif %}</h1>

  <p class="ids__description">
    {% if lang == 'ru' %}Адаптируем под локальный рынок и готовим к печати интерьерный постер Tomatoes. В гайде — видеоинструкция и ее расшифровка с иллюстрациями.{% else %}We adjust to the local market and prepare for printing the “Tomatoes” interior poster. The guide includes a video tutorial and its transcript with illustrations.{% endif %}
  </p>
  <p>
    {% if lang == 'ru' %}Рассмотрим, как вставить текст на языке страны, выбрать цвет фона и правильно сохранить постер для передачи в типографию.{% else %}Let's take a look at how to insert text in the local language into the layout, choose a background colour and correctly save the poster for printing.{% endif %}
  </p>

  <div class="ids__space S"></div>
  <div class="ids__video">
    <iframe
      src="https://www.youtube.com/embed/GPqJQU2BKrk"
      title="Tomatoes poster"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="ids__space S"></div>

  <p>
    {% if lang == 'ru' %}Прежде чем приступить к редактированию макета, выполните несколько предварительных шагов:{% else %}Before you start editing your layout, follow a few preliminary steps:{% endif %}
  </p>

  <ol>
    <li>
      {% if lang == 'ru' %}Установите <a href="https://drive.google.com/drive/folders/1k1wmCxlEwnox_ssQPxnGOtkTG5hBQJOH" target="_blank">пресет для сохранения PDF</a>.{% else %}Install <a href="https://drive.google.com/drive/folders/1k1wmCxlEwnox_ssQPxnGOtkTG5hBQJOH" target="_blank">a preset to save PDF files</a>.{% endif %}
    </li>
    <li>
      {% if lang == 'ru' %}Уточните, какой цвет фона и текста нужно использовать в макете. Эта информация есть в проекте пиццерии.{% else %}Specify what background and text colour to use in the layout. This information is available in the pizzeria project.{% endif %}
    </li>
    <li>
      {% if lang == 'ru' %}Подготовьте перевод текста на локальный язык, если английский не основной язык в вашей стране.{% else %}If English is not the primary language in your country, prepare a translation of the text into the local language.{% endif %}
    </li>
  </ol>

  <div class="ids__space S"></div>
  <ids-nav-item id="download-the-layout" label="{% if lang == 'ru' %}1. Скачайте макет из папки Edit{% else %}1. Download the layout from the Edit folder{% endif %}">
    <h2 class="h3">
      {% if lang == 'ru' %}1. Скачайте макет из папки Edit{% else %}1. Download the layout from the Edit folder{% endif %}
    </h2>
    <p>
      {% if lang == 'ru' %}Все интерьерные постеры хранятся в папке Posters - v1.1. Скачайте <a href="https://drive.google.com/drive/folders/1ybrgAgq2uU8vCLRsabhXxLAGW4pFkdnG" target="_blank">макет постера Tomatoes</a> и откройте его в Adobe Illustrator. Чтобы отредактировать его, вам понадобится файл Edit.{% else %}All interior posters are stored in the Posters - v1.1 folder. Download  <a href="https://drive.google.com/drive/folders/1ybrgAgq2uU8vCLRsabhXxLAGW4pFkdnG" target="_blank">the Tomatoes poster layout</a> and open it in Adobe Illustrator. You will need the “Edit” file to edit the layout.{% endif %}
    </p>
    <div class="ids__space S"></div>
    <figure class="ids__media">
      <img src="/images/tomatoes-poster/1.webp" alt="" />
      <figcaption>
        {% if lang == 'ru' %}Превью постера{% else %}Poster preview{% endif %}
      </figcaption>
    </figure>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="determine-the-language" label="{% if lang == 'ru' %}2. Определите язык{% else %}2. Determine the language{% endif %}">
    <h2 class="h3">
      {% if lang == 'ru' %}2. Определите язык{% else %}2. Determine the language{% endif %}
    </h2>
    <p>
      {% if lang == 'ru' %}Мы предоставляем постеры с текстом на английском языке. Если в вашей стране английский не основной язык, переведите текст на локальный язык.{% else %}We provide posters with text in English. If English is not the primary language in your country, translate the text into the local language.{% endif %}
    </p>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="text-colour-and-translation" label="{% if lang == 'ru' %}3. Выберите цвет текста и вставьте перевод{% else %}3. Select the colour of the text and insert translation{% endif %}">
    <h2 class="h3">
      {% if lang == 'ru' %}3. Выберите цвет текста и вставьте перевод{% else %}3. Select the colour of the text and insert translation{% endif %}
    </h2>
    <p>
      {% if lang == 'ru' %}В слое с текстом есть два подслоя — Black и White. Выберите вариант нужного цвета, лишний слой удалите. Какой цвет текста использовать, указано в проекте пиццерии.{% else %}The text layer has two sub-layers, “Black” and “White”. Select the option of the desired colour, remove the extra layer. The pizzeria project specifies which text colour to use.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}Вставьте перевод в соответствующие блоки по аналогии с англоязычной версией. Если английская версия постера вам подходит, оставьте текст без изменений и переходите сразу к шагу 7.{% else %}Insert the translation into the corresponding blocks just the way they are in the English version. If the English version of the poster works well for you, leave the text unchanged and go straight to step 7.{% endif %}
    </p>
    <div class="ids__media-group XL shadow">
      <figure>
        <video src="/images/tomatoes-poster/2.mp4" autoplay loop muted playsinline></video>
        <figcaption>
          {% if lang == 'ru' %}Вставляем в макет версию текста на азербайджанском языке, выбираем цвет текста{% else %}Inserting the Azerbaijani version of the text into the layout, choosing the text colour{% endif %}
        </figcaption>
      </figure>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="edit-the-headings" label="{% if lang == 'ru' %}4. Отредактируйте заголовки{% else %}4. Edit the headings{% endif %}">
    <h2 class="h3">
      {% if lang == 'ru' %}4. Отредактируйте заголовки{% else %}4. Edit the headings{% endif %}
    </h2>
    <p>
      {% if lang == 'ru' %}Текст на макете вписан в прямоугольники. При редактировании текста следите за пропорциями линий внутри прямоугольника: линии можно двигать, но особенности взаимного расположения объектов должны сохраняться. Сам блок изменяется только в высоту. Придерживайтесь направляющих и соблюдайте отступы.{% else %}The text on the layout is inscribed in rectangles. When editing the text, watch out for the proportions of the lines inside these rectangles: the lines can be moved, but the features of the mutual arrangement of objects must be preserved. The block itself can only change in its height. Stick to the guides and observe the indents.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}Сдвиньте вертикальную разделительную линию так, чтобы расстояние от текста до линии осталось таким же, как в англоязычной версии макета.{% else %}Move the vertical dividing line so that the distance from the text to the line remains the same as in the English version of the layout.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}В макете на английском языке числа расположены в первой строке, а слова — во второй. Сохраните эту особенность.{% else %}The numbers are on the first line and words are on the second line in the English version of the layout. Keep this feature unchanged.{% endif %}
    </p>
    <div class="ids__media-group XL shadow">
      <figure>
        <video src="/images/tomatoes-poster/3.mp4" autoplay loop muted playsinline></video>
        <figcaption>
          {% if lang == 'ru' %}Редактируем заголовки: двигаем текст и разделительные линии{% else %}Editing headings: moving text and separating lines{% endif %}
        </figcaption>
      </figure>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="edit-the-main-text" label="{% if lang == 'ru' %}5. Отредактируйте основной текст{% else %}5. Edit the main text{% endif %}">
    <h2 class="h3">
      {% if lang == 'ru' %}5. Отредактируйте основной текст{% else %}5. Edit the main text{% endif %}
    </h2>
    <p>
      {% if lang == 'ru' %}Если после перевода количество строк в основном блоке увеличилось, опустите нижнюю границу прямоугольника, в который вписан текст. Выделите точки, по которым сделано скругление углов, и сдвиньте линию вниз. После этого выровняйте по высоте вертикальную разделительную линию.{% else %}If you end up with more text lines after translation, lower the bottom border of the rectangle where the text is inscribed. Select the points where the corners are rounded and move the line down. After that, align the vertical dividing line to the height.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}Убедитесь, что расстояние от нижней границы последней строки текста до нижней границы прямоугольника такое же, как в англоязычной версии макета.{% else %}Make sure that the distance from the bottom border of the last line of text to the bottom border of the rectangle is the same as in the English version of the layout.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}Выровняйте текст, чтобы он не выглядел рваным по правому краю. Если длинные слова «выбиваются» из текстового блока и создают неровный край, включите функцию переноса текста: в верхней части экрана выберите Paragraph (Абзац), затем поставьте галочку рядом с Hyphenate (Перенос).{% else %}Align the text so it doesn't look jagged on the right edge. If long words are sticking out of the text block and creating a jagged edge, enable text hyphenation: select “Paragraph” at the top of the screen, then check the box next to “Hyphenate”.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}Отредактируйте линии под фразами «Taste» и «Surprises». Линия должна быть равна ширине текстового блока под ней.{% else %}Edit the lines under the phrases "Taste" and "Surprises". The line should be equal to the width of the text block below it.{% endif %}
    </p>
    <div class="ids__media-group XL shadow">
      <figure>
        <video src="/images/tomatoes-poster/4.mp4" autoplay loop muted playsinline></video>
        <figcaption>
          {% if lang == 'ru' %}Редактируем основной текст и правим верстку: двигаем разделительные линии, опускаем нижнюю границу блока{% else %}Editing the main text and correcting the layout: moving the separating lines, lowering the bottom border of the block{% endif %}
        </figcaption>
      </figure>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="edit-the-strikethrough" label="{% if lang == 'ru' %}6. Отредактируйте «зачеркивание»{% else %}6. Edit the strikethrough{% endif %}">
    <h2 class="h3">
      {% if lang == 'ru' %}6. Отредактируйте «зачеркивание»{% else %}6. Edit the strikethrough{% endif %}
    </h2>
    <p>
      {% if lang == 'ru' %}Слово «Surprises» в правом блоке под заголовком зачеркнуто, при этом длина линии равна ширине слова. Если при переводе слово стало длиннее или короче, отредактируйте линию — сократите или увеличьте ее длину.{% else %}The word "Surprises" in the right block under the title is crossed out, with the length of the line equal to the width of the word. If the translation has made the word longer or shorter, adjust the line either: pull it longer or cut shorter.{% endif %}
    </p>
    <div class="ids__media-group XL shadow">
      <figure>
        <video src="/images/tomatoes-poster/5.mp4" autoplay loop muted playsinline></video>
        <figcaption>
          {% if lang == 'ru' %}Вытягиваем «зачеркивание»{% else %}Pulling out the strikethrough{% endif %}
        </figcaption>
      </figure>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="background-colour" label="{% if lang == 'ru' %}7. Выберите цвет фона{% else %}7. Select the background colour{% endif %}">
    <h2 class="h3">
      {% if lang == 'ru' %}7. Выберите цвет фона{% else %}7. Select the background colour{% endif %}
    </h2>
    <p>
      {% if lang == 'ru' %}В слое Background выберите цвет, который указан в проекте пиццерии.{% else %}In the “Background” layer, select the colour that is specified in the pizza shop project.{% endif %}
    </p>
    <div class="ids__media-group XL shadow">
      <figure>
        <video src="/images/tomatoes-poster/6.mp4" autoplay loop muted playsinline></video>
        <figcaption>
          {% if lang == 'ru' %}Выбираем цвет фона{% else %}Selecting the background colour{% endif %}
        </figcaption>
      </figure>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="merge-layers" label="{% if lang == 'ru' %}8. Объедините слои{% else %}8. Merge layers{% endif %}">
    <h2 class="h3">
      {% if lang == 'ru' %}8. Объедините слои{% else %}8. Merge layers{% endif %}
    </h2>
    <p>
      {% if lang == 'ru' %}Проверьте, что в слое Text и Backgroung остались только те элементы, которые будут напечатаны. Перенесите подслой с текстом используемого цвета в слой Background, а все скрытые слои удалите.{% else %}Make sure that the “Text” and “Backgroung” layers contain only the elements that will be printed. Move the sublayer with the text of the colour you want to use to the “Background” layer, and delete all hidden layers.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}Выделите слой Background и растрируйте его. Для этого выберите в меню в верхней части экрана пункт Object - Rasterize. В диалоговом окне проверьте пункт Resolution:  растрируйте макет в высоком разрешении 300 ppi.{% else %}Select the “Background” layer and rasterize it. To do this, choose “Object - Rasterize” from the menu at the top of the screen. In the dialog box, check the Resolution item: rasterize the layout at a high resolution of 300 ppi.{% endif %}
    </p>
    <div class="ids__media-group XL shadow">
      <figure>
        <video src="/images/tomatoes-poster/7.mp4" autoplay loop muted playsinline></video>
        <figcaption>
          {% if lang == 'ru' %}Переносим текст в слой Background, растрируем слой{% else %}Transferring the text to the Background layer, rasterizing the layer{% endif %}
        </figcaption>
      </figure>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="save-the-layout" label="{% if lang == 'ru' %}9. Сохраните макет{% else %}9. Save the layout{% endif %}">
    <h2 class="h3">
      {% if lang == 'ru' %}9. Сохраните макет{% else %}9. Save the layout{% endif %}
    </h2>
    <p>
      {% if lang == 'ru' %}Сохраните макет в формате Adobe PDF (pdf) с помощью <a href="https://drive.google.com/drive/folders/1k1wmCxlEwnox_ssQPxnGOtkTG5hBQJOH" target="_blank">пресета</a>, измените окончание в названии файла с Edit на Print.{% else %}Save the layout in Adobe PDF (pdf) format using the preset, change the ending in the file name from “Edit” to “Print”.{% endif %}
    </p>
    <p>
      {% if lang == 'ru' %}На экране появится диалоговое окно. Проверьте настройки pdf-файла:{% else %}A dialog box will appear on the screen. Check the settings of the pdf file:{% endif %}
    </p>
    <ul>
      <li>
        {% if lang == 'ru' %}<strong>Стиль Adobe PDF:</strong> выбран пресет Fogra_39_print.{% else %}<strong>Adobe PDF style:</strong> Fogra_39_print preset is selected.{% endif %}
      </li>
      <li>
        {% if lang == 'ru' %}<strong>Метки и выпуск за обрез:</strong> включена опция «Использовать параметры функции „Обрез документа”» и выставлены значения 50 мм для всех сторон. Это важно, так как постеры натягиваются на подрамник: края загибают, чтобы закрыть торцы.{% else %}<strong>Marks and Crop Issue:</strong>  the “Use Document Crop Options” is enabled and 50 mm is set for all sides. This is important because posters are pulled out on a stretcher: the edges are creased to cover the ends.{% endif %}
      </li>
      <li>
        {% if lang == 'ru' %}<strong>Вывод:</strong> в поле «Целевое пространство» указан «Документ CMYK - Coated FOGRA39».{% else %}<strong>Output:</strong> the “Target Space” field specifies “CMYK Document - Coated FOGRA39”.{% endif %}
      </li>
    </ul>
    <div class="ids__sequence XL gap-M">
      <div class="ids__sequence-item">
        <figure>
          <img src="/images/tomatoes-poster/8.webp" alt="" />
          <figcaption>
            {% if lang == 'ru' %}В окне Marks and Bleeds проверяем поля Adobe PDF Preset и Bleeds{% else %}Checking the Adobe PDF Preset and Bleeds fields in the Marks and Bleeds window{% endif %}
          </figcaption>
        </figure>
      </div>
      <div class="ids__sequence-item">
        <figure>
          <img src="/images/tomatoes-poster/9.webp" alt="" />
          <figcaption>
            {% if lang == 'ru' %}В окне Output проверяем поле Destination{% else %}Checking the Destination field in the Output window{% endif %}
          </figcaption>
        </figure>
      </div>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="done" label="{% if lang == 'ru' %}10. Готово!{% else %}10. Done!{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}10. Готово!{% else %}10. Done!{% endif %}</h2>
    <p>
      {% if lang == 'ru' %}Теперь макет готов к передаче в типографию. Отправьте специалистам на производстве файл Print.{% else %}Now the layout is ready to be sent to the printing house. Send the “Print” file to the production specialists.{% endif %}
    </p>
  </ids-nav-item>

  <div class="ids__space L"></div>
</article>
