---
title: Виды сторис в приложении — Shift
titleEn: Types of in-app stories — Shift
description: "Разделение по темам и примеры оформления."
descriptionEn: "Division by theme and examples of design."
tags: guide
---
<div class="ids__space XL"></div>
<article class="ids__wrapper guide">
  <div class="guide__nav"><ids-navbar></ids-navbar></div>

  <h1>{% if lang == 'ru' %}Виды сторис в приложении{% else %}Types of in-app stories{% endif %}</h1>
  {% include "pub-meta.html" %}

  <p class="ids__description">
    {% if lang == 'ru' %}В приложении мы запускаем разные виды сторис. В этом гайде описали те, которые используем чаще всего.{% else %}We post various different types of stories in the app. This guide talks about the ones we use most often.{% endif %}
  </p>

  <div class="ids__space S"></div>
  <ids-nav-item id="product" label="{% if lang == 'ru' %}Продуктовые{% else %}Product stories{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Продуктовые{% else %}Product stories{% endif %}</h2>
    <aside>
      {% if lang == 'ru' %}Цель: переход и совершение заказа.{% else %}Objective: to draw attention to the product and initialize the order.{% endif %}
    </aside>

    <p>
      {% if lang == 'ru' %}Рассказываем о новых продуктах или делимся историей их создания.{% else %}We tell the user about new products or how they were created.{% endif %}
    </p>

    <p>
      {% if lang == 'ru' %}В анонсах новых продуктов мы говорим про конкретные вкусовые качества продукта, а не про абстрактный чувственный опыт. Пользователь должен понять, какой продукт на вкус, и захотеть его попробовать.{% else %}With new foods announcements, we tend to reveal the specific taste of the product, not an abstract sensory description. The user should figure out what the product tastes like and get a nudge to try it out.{% endif %}
    </p>

    <div class="ids__sequence L gap-M no-wrap tight">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/1.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/2.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/3.webp" alt="" /></figure>
      </div>
    </div>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/4.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/5.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>

    <div class="ids__sequence L gap-M no-wrap tight">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/6.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/7.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/8.webp" alt="" /></figure>
      </div>
    </div>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/9.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/10.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>

    <div class="ids__sequence L gap-M no-wrap tight">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/11.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/12.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/13.webp" alt="" /></figure>
      </div>
    </div>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/14.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/15.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="informational" label="{% if lang == 'ru' %}Информационные{% else %}Informational stories{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Информационные{% else %}Informational stories{% endif %}</h2>

    <aside>
      {% if lang == 'ru' %}Цель: рассказать о важных изменениях.{% else %}Objective: to communicate significant changes.{% endif %}
    </aside>

    <p>
      {% if lang == 'ru' %}Информируем об изменениях в работе, открытии новых пиццерий, обновлениях в приложении, пиках.{% else %}We report changes in operations, new pizzeria openings, updates in the app, rush hours.{% endif %}
    </p>

    <p>
      {% if lang == 'ru' %}Пики — это периоды высокой нагрузки в пиццериях. Чаще всего они выпадают на праздники, когда люди делают много заказов, а кухня и курьеры сильно загружены.{% else %}Rush hours are periods of highest workload in pizzerias. Most often they happen on holidays, when people place a lot of orders and the kitchen and couriers are really busy.{% endif %}
    </p>

    <p>
      {% if lang == 'ru' %}Говорим кратко, по-честному, без заигрывания с аудиторией. В срочных сторис с изменениями работы, нехваткой продуктов мы прямо сообщаем о ситуации и о том, что сейчас она решается, без нечетких формулировок. И по-возможности предлагаем решения для пользователя: заказать в другие промежутки времени или заранее, воспользоваться самовывозом и тому подобное.{% else %}We speak briefly, honestly, without flirting with the audience. In urgent stories with work hours changes or product shortages, we give straightforward information about the problem and the fact that it is now being solved, without any vague wording. And, if possible, we offer solutions to the user: to order at a different time or in advance, to pick the order from the pizzeria, and so on.{% endif %}
    </p>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/16.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/17.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>
    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/18.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/19.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>
    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/20.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/21.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>
    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/22.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/23.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="missions" label="{% if lang == 'ru' %}Миссии{% else %}Mission stories{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Миссии{% else %}Mission stories{% endif %}</h2>

    <aside>
      {% if lang == 'ru' %}Цель: привлечь пользователя к выполнению миссии.{% else %}Objective: to engage the user into completing the mission.{% endif %}
    </aside>

    <p>
      {% if lang == 'ru' %}Ежемесячная рубрика, в которой важно не столько рассказывать о самой миссии, сколько завлечь аудиторию перейти по кнопке. На сторис раскрываем контекст — расказываем, почему эту миссию прикольно выполнить именно сейчас. Текст брифа (то есть самой миссии) не повторяем, чтобы пользователь не читал одно и то же.{% else %}Monthly section in which it is important not so much to tell about the mission itself, but to nudge the audience to push the button. With stories like these, we reveal the context telling the users why it is cool to do this mission right now. We do not duplicate the text of the brief (i.e. the instruction to mission), so that the user does not have to read the same thing twice.{% endif %}
    </p>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/24.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/25.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/26.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/27.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/28.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/29.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="useful-features" label="{% if lang == 'ru' %}Полезные фичи{% else %}Useful features stories{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Полезные фичи{% else %}Useful features stories{% endif %}</h2>

    <aside>
      {% if lang == 'ru' %}Цель: рассказать о новых функциях в приложении и научить ими пользоваться.{% else %}Objective: to tell the users about new features in the app and teach them how to use them.{% endif %}
    </aside>

    <p>
      {% if lang == 'ru' %}Используем простые формулировки и делаем акцент на пользе, которую получит клиент, не углубляясь в технические подробности. Например, когда вводится функция «Курьер на карте», пользователю важно рассказать, что так он сможет планировать свое время. Как может выглядеть структура сторис с новыми функциями:{% else %}We do this through simple wording and emphasize the benefits the customer will get, without going deep into technical details. For example, when the “Courier on map” feature is introduced, it's important to tell the user that this way they will be able to plan their time more efficiently. Here is what the structure of stories with a new feature might look like:{% endif %}
    </p>

    <ul>
      <li>{% if lang == 'ru' %}Прямая польза для пользователя.{% else %}Major benefit for the user.{% endif %}</li>
      <li>{% if lang == 'ru' %}Почему это удобно.{% else %}Why it is so convenient.{% endif %}</li>
      <li>{% if lang == 'ru' %}Технические особенности, как это сделать и включить.{% else %}Technical features: how to enable and use it.{% endif %}</li>
      <li>{% if lang == 'ru' %}Пометки для дизайнера, какой элемент интерфейса прикрепить.{% else %}Notes for the designer on which UI element to attach.{% endif %}</li>
    </ul>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/30.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/31.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/32.webp" alt="" /></figure>
      </div>
    </div>
    <p>
      {% if lang == 'ru' %}Бывает, что новые для нас фичи не являются новыми для пользователей, потому что у них уже есть опыт из других приложений. Например, функция отслеживания курьера на карте может быть уже знакома. В таком случае, проявление заботы будет не разжевывание подробностей, а краткое сообщение с целью экономии времени аудитории.{% else %}There are cases when features that are new to us are not actually a novelty to our users because they already have this experience with other apps. For example, the courier tracking feature is something they may already be familiar with. In a situation like this, the manifestation of care would not be spoon-fed to the user, but rather presented as a brief, time-saving message.{% endif %}
    </p>

    <p>
      {% if lang == 'ru' %}К разработке этого вида сторис подключается UX-редактор и на этапе получения брифа, и после того, как будут готовы первые тексты.{% else %}A UX editor is involved in the development of this type of stories both at the stage of receiving the brief and after the first texts are ready.{% endif %}
    </p>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="statistics" label="{% if lang == 'ru' %}Статистика{% else %}Statistics stories{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Статистика{% else %}Statistics stories{% endif %}</h2>

    <aside>
      {% if lang == 'ru' %}Цель: показать статистику, удивить, напомнить, что мы большой бренд.{% else %}Objective: to show figures, to surprise, to ensure the fact that we are a big brand.{% endif %}
    </aside>

    <div class="ids__with-note">
      <p>
        {% if lang == 'ru' %}Один из вариантов сторис со статистикой — рубрика «Число месяца». Обычно состоит из одного слайда. Это могут быть данные о количестве съеденных за месяц Додстеров, среднем времени доставки или выдачи. В общем, любые факты, связанные с цифрами, которые могут произвести вау-эффект на пользователя.{% else %}One of the options for the stories with statistics is the heading “Figure of the month”. It usually consists of one slide. It can be data about the number of Dodsters eaten during the month, average delivery or giveaway time. In general, any facts related to stats that can produce a wow effect on the user.{% endif %}
      </p>
      <div class="ids__note">
        <p>
          {% if lang == 'ru' %}Лена Пирог рассказывает, <a href="https://www.notion.so/7d976e0fc68949a780bead9b085117c0?pvs=4" target="_blank">как найти интересные данные.</a>{% else %}Lena Pirog talks about <a href="https://www.notion.so/7d976e0fc68949a780bead9b085117c0?pvs=4" target="_blank">how to find interesting data.</a>{% endif %}
        </p>
      </div>
    </div>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/33.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/34.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/35.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/36.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="job-offers" label="{% if lang == 'ru' %}Работа в Додо{% else %}Job offers at Dodo stories{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Работа в Додо{% else %}Job offers at Dodo stories{% endif %}</h2>

    <aside>
      {% if lang == 'ru' %}Цель: привлечение новых сотрудников.{% else %}Objective: to attract new employees.{% endif %}
    </aside>

    <p>
      {% if lang == 'ru' %}Рассказываем о вакансиях, формируем HR-бренд, делимся историями работников Додо.{% else %}We tell about job positions, build an HR-brand, share Dodo employees’ stories.{% endif %}
    </p>

    <p>
      {% if lang == 'ru' %}При написании сторис ориентируемся на тональность сайта <a href="https://rabotavdodo.ru">«Работа в Додо»</a>. Основная идея: «Для нас важен каждый. В Додо есть то, что важно».{% else %}When making these, we are guided by the <a href="https://rabotavdodo.ru">Work at Dodo</a> website. The key idea is this: “Everyone is important to us. Dodo has what is important”.{% endif %}
    </p>

    <div class="ids__sequence L gap-M no-wrap tight">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/37.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/38.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/39.webp" alt="" /></figure>
      </div>
    </div>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/40.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
      <div class="ids__sequence-item"></div>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="educational" label="{% if lang == 'ru' %}Познавательные{% else %}Educational stories{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Познавательные{% else %}Educational stories{% endif %}</h2>

    <aside>
      {% if lang == 'ru' %}Цель: научить новому с помощью полезных подборок, инструкций, ответов на вопросы и чек-листов.{% else %}Objective: to teach new things with helpful selections, instructions, answers to questions and checklists.{% endif %}
    </aside>

    <p>
      {% if lang == 'ru' %}Например, сторис c фактами месяца.{% else %}For example, a story of the month fact sheet.{% endif %}
    </p>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/41.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/42.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/43.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/44.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="video-and-motion" label="{% if lang == 'ru' %}Видео и motion-сторис{% else %}Video and motion stories{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Видео и motion-сторис{% else %}Video and motion stories{% endif %}</h2>

    <aside>
      {% if lang == 'ru' %}Цель: показать живую картинку, привлечь внимание пользователя через интересный формат.{% else %}Objective: to show a live picture, to grab the user's attention through an interesting format.{% endif %}
    </aside>

    <p>
      {% if lang == 'ru' %}В написании сценария видео, титров, текста для спикера или закадрового голоса опираемся на тональность бренда.{% else %}In writing the script of the video, credits, text for the speaker or voice-over, we rely on the brand’s tone of voice.{% endif %}
    </p>

    <div class="ids__sequence L gap-M no-wrap tight">
      <div class="ids__sequence-item">
        <div class="ids__video vertical"><iframe src="https://www.youtube.com/embed/yRb9a3uRetE" title="" allowfullscreen></iframe></div>
      </div>
      <div class="ids__sequence-item">
        <div class="ids__video vertical"><iframe src="https://www.youtube.com/embed/rNs-xEZeUaU" title="" allowfullscreen></iframe></div>
      </div>
      <div class="ids__sequence-item">
        <div class="ids__video vertical"><iframe src="https://www.youtube.com/embed/jLtw33iPgsg" title="" allowfullscreen></iframe></div>
      </div>
    </div>
    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <div class="ids__video vertical"><iframe src="https://www.youtube.com/embed/IkDh8z-QnIE" title="" allowfullscreen></iframe></div>
      </div>
      <div class="ids__sequence-item"></div>
      <div class="ids__sequence-item"></div>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="engaging" label="{% if lang == 'ru' %}Вовлекающие{% else %}Engaging stories{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Вовлекающие{% else %}Engaging stories{% endif %}</h2>

    <aside>
      {% if lang == 'ru' %}Цель: повзаимодействовать с пользователем и по возможности собрать обратную связь.{% else %}Objective: to engage with the user and gather feedback where possible.{% endif %}
    </aside>

    <p>
      {% if lang == 'ru' %}Взаимодействуем через опросы, вопросы, квесты и тесты.{% else %}Engage through surveys, questions, quests and tests.{% endif %}
    </p>

    <div class="ids__sequence L gap-M no-wrap tight">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/45.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/46.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/47.webp" alt="" /></figure>
      </div>
    </div>
    <div class="ids__sequence L gap-M no-wrap tight">
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/48.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/49.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/50.webp" alt="" /></figure>
      </div>
    </div>

    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/51.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
      <div class="ids__sequence-item"></div>
    </div>
  </ids-nav-item>

  <div class="ids__space S"></div>
  <ids-nav-item id="entertaining" label="{% if lang == 'ru' %}Развлекательные{% else %}Entertaining stories{% endif %}">
    <h2 class="h3">{% if lang == 'ru' %}Развлекательные{% else %}Entertaining stories{% endif %}</h2>

    <aside>
      {% if lang == 'ru' %}Цель: поддержать интерес аудитории.{% else %}Objective: to keep the audience locked in.{% endif %}
    </aside>

    <p>
      {% if lang == 'ru' %}Публикуем игры, подбороки и истории.{% else %}Here we post games, selections and stories.{% endif %}
    </p>

    <div class="ids__sequence L gap-M no-wrap tight">
      <div class="ids__sequence-item">
        <figure class="ids__media XS"><img src="/images/types-of-in-app-stories/52.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/53.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/54.webp" alt="" /></figure>
      </div>
    </div>
    <div class="ids__sequence L gap-M no-wrap">
      <div class="ids__sequence-item">
        <figure><img src="/images/types-of-in-app-stories/55.webp" alt="" /></figure>
      </div>
      <div class="ids__sequence-item"></div>
      <div class="ids__sequence-item"></div>
    </div>
  </ids-nav-item>

  <div class="ids__space L"></div>
</article>
